<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>
<style>
* {
  background-color:red;
  }
</style>
<body>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
  <h1>THIS IS SECRET PAGE AND ONLY VISIBLE TO LOGGED IN USER</h1>
</body>

</html>
