<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>


  <h1>Sign Up</h1>
  <form action="/signup" method="POST">

    <label for="fullname">Username</label>
    <input type="text" name="username" placeholder="Enter Username">
    <label for="Email">Email address</label>
    <input type="email" name="email" placeholder="Enter email">
    <label for="Password">Password</label>
    <input type="password" name="password" placeholder="Password">


    <button type="submit">Submit</button>
  </form>
</body>

</html>
