<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>


  <h1>LOGIN</h1>
  <form action"/signin" method="POST">

    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" placeholder="Enter email">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">


    <button type="submit">Submit</button>
  </form>
</body>

</html>
